<div ui-view>
  <h2>Albums for <span class="artist-name">{{ac.artist.name}}</span></h2>
</div>

<div id="search">
  Search: <input type="text" ng-model="search"/>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Release Date</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody ng-controller="AddToCartController as cart">
    <tr ng-repeat="album in ac.albums | filter:search">
      <td>
        <a ui-sref="albums.songs({artist_id: ac.artist.id, album_id: album.id})">
          {{album.name}}
        </a>
      </td>
      <td>{{album.label}}</td>
      <td>{{album.released | date}}</td>
      <td>{{album.price | currency}}</td>
      <td>

        <button ng-hide="cart.albumInCart(album)"
                ng-click="cart.addAlbum(ac.artist, album)">Buy</button>

      </td>
    </tr>
  </tbody>
</table>
