table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 5px;
}

th {
  border: 1px solid #888;
  font-weight: bold;
  background-color: #ddd;
}

.artist-name {
  color: #6c71c4;
}
